<div class="forgot-password-container">
      <h1>Forgot Password</h1>
      <form action="" method="post">
        <div class="text-field">
          <div><label for="email">Email:</label></div>
          <div><input type="email" id="email" name="email" required /></div>
        </div>

        <div class="reset-button">
          <button type="submit">Send reset link</button>
        </div>
      </form>
    </div>