<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
  <link rel = "stylesheet" href = "/Proj1/app/assets/css/sign_up.css">
</head>
<body>
  <h1>Sign Up </h1>
    <br>
    <form>
      <label for = "username">Username</label>
        <br>
            <input type = "text" id = "username">
              <br/>
          <label for = "Email">Email</label>
        <br>
      <input type = "text" id = "Email">
    <br>
        <label for = "password">Password</label>
          <br>
  <input type = "password" id="password">
  </form>
</body>
</html>