 <div class="accounts">
  <form class="accounts__form" action="/user/signup" method="post">
    <div class = "big_box">
      <div class="accounts__heading">Sign up</div>
          <div class="medium_box">
            <div><label for="Username">Username:</label></div>
              <br>
                <input type="text" name = "username" id = "Username">
          </div>
        
      <div class="medium_box">
        <div><label for="Email">Email:</label></div>
          <br>
            <input type="email" name = "email" id="Email" required>
      </div>
    <div class = "medium_box">
        <div><label for = "Password">Password:</label></div>
          <br>
            <input  type="password" name = "password" id ="Password" required>
      </div>
    <br>
      <button class="signUpButton" type="submit">Sign Up</button>
    </div>
      <br>
    </div>
    </form>

 

   