 <div class="accounts">
  <form class="accounts__form" action="/user/signup" method="post">
    <div class = "big_box">
      <div class="accounts__heading">Sign up</div>
        <div class = "medium_box">
          <div class="Username">
            <label for="Username">Username:</label>
              <br>
                <input type="text" name = "username" id = "Username">
          </div>
        </div>
    <div class = "medium_box">
      <div class="Email">
        <label for="Email">Email:</label> 
          <br>
            <input type="email" name = "email" id="Email" required>
      </div>
    </div>
    <div class = "medium_box">
      <div class= "Password">
        <label for = "Password">Password:</label>
          <br>
            <input  type="password" name = "password" id ="Password" required>
      </div>
    </div>
    <br>
      <button class="signUpButton" type="submit">Sign Up</button>
    </div>
      <br>
    </div>
    </form>

 

   