.nav {
  display: flex;
  align-items: center;
  height: 72px;
  background-color: #84A98C;
  padding-left: 200px;
  padding-right: 200px;
}
.nav__user {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
  
}
.nav__button {
  margin-left: 1rem;
  width: 90px;
  height: 46px;
  line-height: 46px;
  background-color: #84A98C;
  border-radius: 5px;
  text-align: center;
  text-decoration: none; 
  color: #fff;
}
.nav__button:hover {
  cursor: pointer;
  opacity: 0.5;
  text-decoration: underline;
}

.home-button {
  margin-left: 1rem;
  width: 90px;
  height: 46px;
  line-height: 46px;
  background-color: #84A98C;
  border-radius: 5px;
  text-align: center;
  text-decoration: none; 
  color: #fff;
}

.home-button:hover {
  cursor: pointer;
  opacity: 0.5;
  text-decoration: underline;
}
