.big_box {
  background-color: #52796F;
  width: 300px;
  height: 310px;
}

/* 
.accounts__form {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.accounts__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}

.medium_box {
  width: 279.32px;
  height: 58.86px;
  text-align: center;
  margin-bottom: 5px;
}


.small_box {
  background-color: white;
  width: 100px;
  height: 40px;
}

.signUpButton {
  color: #52796F;
  background-color: white;
  width: 80px;
  height: 20px;

}