.big_box {
  background-color: #52796F;
  width: px;
  height: 310px;
}

.accounts__heading {
  font-size: 24px;
  color: white;
}

.medium_box {
  width: 279.32px;
  height: 58.86px;
  text-align: center;
}

.Username {
  margin-bottom: 1.5rem;
}

#Username {
  padding: 2px;
}

::placeholder {
  text-align: center;
  color: #52796F;

}

.Email {
  margin-bottom: 1.5rem;
}

#Email {
  padding: 2px;
}

.Password {
  margin-bottom: 1.5rem;
}

#Password {
  padding: 2px;
}

.small_box {
  background-color: white;
  width: 100px;
  height: 40px;
}

.signUpButton {
  color: #52796F;
  background-color: white;
  width: 100px;
  height: 40px;
  text-align: center;

}