
<div  class="header">
  <div border="1"
    class="header__text"
    object
    key:heading="@innerText"
    default:ExpName="My Expenses"
  >{{heading}}</div>
  <div class="table">
      <div class="table-header">
          <div class="table-row-div"><p class="table-header-item">Expense</p></div>
          <div class="table-row-div"><p class="table-header-item">Category</p></div>
          <div class="table-row-div"><p class="table-header-item">Amount</p></div>
          <div class="table-row-div"><p class="table-header-item">Action</p></div>
      </div>
      <div 
        array
        key="expenses"
      >
      {{#for expense in expenses}}
      <div 
        class="table-row"
        object
        key:exp-name="@search"
        key:exp-category="@search"
        key:exp-amount="@search"
        >
          <div class="table-row-div"><p target:exp-name="@innerText" class="table-row-item">{{default expense.expName "New Expense"}}</p></div>
          <div class="table-row-div"><p target:exp-category="@innerText" class="table-row-item">{{default expense.expCategory "New Category"}}</p></div>
          <div class="table-row-div"><p target:exp-amount="@innerText" class="table-row-item">{{default expense.expAmount "0.00"}}</p></div>
          <div class="table-row-div"><div class="button-container">
          <button class="delete-button"  remove>Delete</button>
          <button class="edit-button"          edit:exp-name
        edit:exp-category
        edit:exp-amount>edit</button>
          </div></div>
        </div>
        {{/for}}
        </div>
        <button class="add-button" new:expense>Add Expense</button>
    </div>
  </div>
</div>
